<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<userSettings>
        <Client.Properties.Settings>
                <setting name="ServerIP" serializeAs="String">
                        <value>192.168.1.29</value>
                </setting>
                <setting name="InitialPSN" serializeAs="String">
                        <value>1</value>
                </setting>
                <setting name="AutoQualityControl" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="AudioTransmission" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="RetransmissionMode" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="DataPercentLossRequired" serializeAs="String">
                        <value>55</value>
                </setting>
                <setting name="DecreaseQualityBy" serializeAs="String">
                        <value>10</value>
                </setting>
                <setting name="Encryption" serializeAs="String">
                        <value>None</value>
                </setting>
                <setting name="ServerPORT" serializeAs="String">
                        <value>1397</value>
                </setting>
                <setting name="FPS" serializeAs="String">
                        <value>Medium</value>
                </setting>
        </Client.Properties.Settings>
    </userSettings>
</configuration>